@i *{
    Margin: 0;
}

html, body {
    height: 100%;
}

h1,h2,h3,h4,h5,h6,p {
    margin-bottom: 20px;
}

.nav{
    
    position: fixed;
    width: 100%;
    height: 20px;
    background-color: rgba(0,0,0,.5)
    z-index: 99;
    text-align: center;
    
}

.sect{
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.subsection{
    height: 50%;
    background-color: bisque
    
}

.sectOne{
    background-image: url("../images/01.jpg");
    
}

.sectTwo{
    background-image: url(../images/02.jpg)
}

.sectThree{
    background-image: url(../images/03.jpg)
}

.sectFour{
    background-image: url(../images/04.jpg)
}

.sectFive{
    background-image: url(../images/05.jpg)
}

.sectSix{
    background-image: url(../images/06.jpg)
}

.sectSeven{
    background-image: url(../images/07.jpg)
}

.sectEight{
    background-image: url(../images/08.jpg)
}

.sectNine{
    background-image: url(../images/09.jpg)
}

.subsection{
    
}

footer {
	margin-top: 50px;
	background-color: #D8E2ED;
	padding:20px;
	text-align: center;
}